# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Secrets
config/secrets.yaml
.env
*.pem
*.key

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Browser
browser_profile/
data/debug_*.png
data/captcha_*.png

cloud_deploy.zip

*.zip
